{% extends "main.html" %}
{% block mainbody %}
    <div class="container">
        <h2 style="color:#801515">Download</h2>
        <h5>Core application, webserver and python scripts are availible at: <br><br>
            <a href="https://bitbucket.org/ziemertlab/arts">https://bitbucket.org/ziemertlab/arts</a><br><br>
            Manual instalation instructions can be found in install.txt however only unix based systems have been tested and some troubleshooting is to be expected.
            </h5>
    </div>
{% endblock %}